/*body styles affect the whole page*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #adadad;
  background-image: url("./images/crossword.png");
  margin: 0;
}
header {
  width: 100vw;
  padding-bottom: 0;
  border-bottom: solid black 3px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #adadad;
  background-image: url("./images/crossword.png");
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #CF3030;
  margin: 0;
  padding: 40px 0 40px 0;
}

/*sets the navigation list and link styles*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CF3030;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #e8b11a;
  font-size: 2.5rem;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 20px 0 20px 0;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #D9D9D9;
}

nav ul li a.active {
  color: #D9D9D9;
  background-color: #4CAF50;
}

.menuWrapper {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 85vw;
  grid-gap: 50px;
  margin: 10vh 0 10vh 0;
}
/*set the card styles*/
.card {
  margin: 5px;
  float: left;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.cardContainer{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 0 0 0 50px;
}

.card img {
  border: solid black 1px;
  width: 100%;
  height: auto;
}

.card h2 {
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1.05rem;
  margin-bottom: 10px;
}

/*put a border around the footer*/
footer {
  clear: both;
  border: thick dashed silver;
}

#banner {
  border-right: solid black 2px;
  width: 100%;
}

#bannerContainer {
  border-top: solid black 3px;
  border-bottom: solid black 5px;
  display: flex;
  flex-direction: row;
  width: 100;
  height: 100%;
}

#menuSuggestionDiv {
  background-color: #CF3030;
  padding: 0 50px 0 50px;
  width: 250px;
  height: auto;
}

#menuSuggestionDiv > img {
  width: 100%;
  border: solid black 1px;
}

#menuSuggestionDiv > h2 {
  width: 100%;
}

#menuSuggestion {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #e8b11a;
  width: 100%;
  margin-bottom: 10px;
}

#menuItems > article {
  padding: 0;
}

#specialsHeader {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #e8b11a;
  background-color: #CF3030;
  padding: 50px 0 50px 0;
  font-size: 3.5rem;
  border-top: solid black 5px;
  border-bottom: solid black 3px;
  text-align: center;
  width: 100vw;
}

#cateringSection {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: flex-start;
  height: 100vh;
}

#cateringSection > p:first-of-type {
  margin-top: 75px;
}

#cateringSection > p {
  margin: 0 0 50px 0;
}

#chefSection {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: flex-start;
}

#chefSection > p:first-of-type {
  margin-top: 75px;
}

#chefSection > p {
  margin: 0 0 50px 0;
}

#chefContainer {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chefContainer > img {
  width: 300px;
  border: solid black 3px;
}

#chefContainer > p {
  margin: 0 0 0 50px;
}
